body{
  overflow: hidden;
  margin: 0;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

a {
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  /* margin-top: 6vh; */
  color: white;
  text-decoration: none;
  margin: 0vh 5vw auto;
  font-size: 6vw;
  line-height: 40vh;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
  text-shadow: 5px 5px 30px black;
}

/*canvas {
  cursor: move;

}*/
canvas:hover {
  cursor: move;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
