.element{
  display: none;
  cursor: pointer;
  height: 25vh;
  width: 25vh;
  margin: 21vh auto;
  background-color: red;
  -webkit-animation-name: stretch;
          animation-name: stretch;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.hover-area--right:hover .element {
  display: block;
}

@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    background-color: #0F22FF;
    border-radius: 100%;
  }
  50% {
    background-color: white;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: #0F22FF;
  }
}

@keyframes stretch {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    background-color: #0F22FF;
    border-radius: 100%;
  }
  50% {
    background-color: white;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: #0F22FF;
  }
}
/*.element::after */

.morphing-circle-square {
  display: none;
  cursor: pointer;
  margin: 21vh auto;
	height: 25vh;
  width: 25vh;
  background-color: blue;
	-webkit-animation: morphing-circle-square 3s linear infinite;
	        animation: morphing-circle-square 3s linear infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.hover-area--left:hover .morphing-circle-square {
  display: block;
}

@-webkit-keyframes morphing-circle-square {
	0% {
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

	25% {
    border-radius: 50%;
    background-color: #DB5461;
  }
	50% {
    border-radius: 0%;
    background-color: #F7FFF7;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: scale(2);
            transform: scale(2);
  }
	75% {
    border-radius: 0%;
    background-color: #F7FFF7;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

	100% {
    border-radius: 50%;
    background-color: #DB5461;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes morphing-circle-square {
	0% {
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

	25% {
    border-radius: 50%;
    background-color: #DB5461;
  }
	50% {
    border-radius: 0%;
    background-color: #F7FFF7;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: scale(2);
            transform: scale(2);
  }
	75% {
    border-radius: 0%;
    background-color: #F7FFF7;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

	100% {
    border-radius: 50%;
    background-color: #DB5461;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}


.element1 {
  display: none;
  cursor: pointer;
  height: 5vh;
  width: 25vh;
  margin: 65vh auto;
  background-color: red;
  -webkit-animation-name: running;
          animation-name: running;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.hover-area--top:hover .element1 {
  display: block;
}

@-webkit-keyframes running {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0F22FF;
    border-radius: 100%;
  }
  50% {
    background-color: white;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
  border-radius: 50%;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);

  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0F22FF;
  }
}

@keyframes running {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0F22FF;
    border-radius: 100%;
  }
  50% {
    background-color: white;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
  border-radius: 50%;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);

  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0F22FF;
  }
}

.element3 {
  display: none;
  cursor: pointer;
  height: 5vh;
  width: 25vh;
  margin: 0vh 23vh auto;
  background-color: #0F22FF;
  -webkit-animation-name: jumping;
          animation-name: jumping;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.hover-area--bottom:hover .element3 {
  display: block;
}

@-webkit-keyframes jumping {
  0% {
    /*background-color: #0F22FF;*/
    border-radius: 100%;
  }
  25% {
    background-color: white;
-webkit-transform: scale(1.5);
        transform: scale(1.5);
  }

  50% {
  -webkit-transform: translateY(2vh);
          transform: translateY(2vh);
    background-color: white;
  }
  75%{
    background-color: #0F22FF;
  }

  100% {
    border-radius: 0%;
    background-color: #DB5461;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jumping {
  0% {
    /*background-color: #0F22FF;*/
    border-radius: 100%;
  }
  25% {
    background-color: white;
-webkit-transform: scale(1.5);
        transform: scale(1.5);
  }

  50% {
  -webkit-transform: translateY(2vh);
          transform: translateY(2vh);
    background-color: white;
  }
  75%{
    background-color: #0F22FF;
  }

  100% {
    border-radius: 0%;
    background-color: #DB5461;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
