.menu {
  position: relative;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*box-shadow: 0 0em 1em rgba(0, 0, 0, 0.5);*/
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  font-size: calc(1em + 1vh);
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.menu .menu-item {
  position: relative;
  z-index: 1;
}
.menu .menu-item a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 0.75em 4em 0.75em 4em;
}
.menu li:nth-child(1) {
  background: #1F1E84;
}
.menu li:nth-child(2) {
  background: #1F1E84;
}
.menu li:nth-child(3) {
  background: #1F1E84;
}

.transition-translate {
  position: relative;
  top: 0;
  z-index: 2;
  color: #FFF;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.transition-translate:hover {
  top: 30px;
}


.menu1 li:nth-child(1),
.menu1 li:nth-child(2),
.menu1 li:nth-child(3),
.menu1 li:nth-child(4) {
  background: #1F1E84;
  color: white;
  font-size: 0.72em;
}
.menu1 li:nth-child(2) {
  opacity: 0.7;
}
.menu1 li:nth-child(3) {
  opacity: 0.5;
}
.menu1 li:nth-child(4) {
  opacity: 0.3;
}


ul.menu1 {
position: absolute;
display: none;
margin-left: -13.5em;
margin-top: -2.7em;
}

small a {
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: underline; /* Подчеркивание у ссылок убираем */
    color: black; /* Цвет текста */
   }

   .small a:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: none; /* Цвет фона активного пункта */

   }
   li:hover ul {
    display: block; /* При выделении пункта курсором мыши отображается подменю */
   }
   .brd {
    border-bottom: 1px solid #ccc; /* Линия снизу */
   }
