* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.box2 {
  position: relative;
  width: 70vh;
  height: 70vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*justify-content: center;*/
}

.circle {
  position: relative;
  height: 5%;
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      left: -6vh;
  /*background-image: url(../images/man.svg);
    background-repeat: no-repeat;*/
  background-color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  z-index: 0;
}

.cover-left,
.cover-right {
  background: none;
  width: 20vh;
  height: 25%;
  z-index: 1;
  border: 10px solid white;
  padding: 10px;
}

.cover-top,
.cover-bottom {
  position: absolute;
  background: none;
  left: 0px;
  width: 100%;
  height: 15vh;
  z-index: 1;
  border: 10px solid white;
  padding: 10px;
}


.cover-right {
  position: inherit;
  left: 30vh;
}
.cover-left {
  position: inherit;
  right: 0vh;
}
.cover-top {
  top: 2vw;
}
.cover-bottom {
  bottom: 2vw;
}
.hover-area {
  position: absolute;
  background: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    display: block;
    position: absolute;
    border: 2.5vmin solid transparent;
    border-top: 0;
    border-bottom: 2.5vmin solid white;
    left: calc(50% - 2.5vmin);
    top: calc(50% - 2.5vmin);
    z-index: 2;
  }
}

.hover-area--left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  &:before {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.hover-area--top-left {
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  &:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.hover-area--top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.hover-area--top-right {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  &:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.hover-area--right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  &:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.hover-area--bottom-right {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  &:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.hover-area--bottom {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  &:before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.hover-area--bottom-left {
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  &:before {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

.hover-area--left:hover ~ .circle {
  -webkit-transform: translateX(-2000%);
          transform: translateX(-2000%);
}

.hover-area--top-left:hover ~ .circle {
  -webkit-transform: translateX(-1000%) translateY(-1000%);
          transform: translateX(-1000%) translateY(-1000%);
}

.hover-area--top:hover ~ .circle {
  -webkit-transform: translateY(-1000%);
          transform: translateY(-1000%);
}

.hover-area--top-right:hover ~ .circle {
  -webkit-transform: translateX(1000%) translateY(-1000%);
          transform: translateX(1000%) translateY(-1000%);
}

.hover-area--right:hover ~ .circle {
  -webkit-transform: translateX(2000%);
          transform: translateX(2000%);
}

.hover-area--bottom-right:hover ~ .circle {
  -webkit-transform: translateX(1000%) translateY(1000%);
          transform: translateX(1000%) translateY(1000%);
}

.hover-area--bottom:hover ~ .circle {
  -webkit-transform: translateY(1000%);
          transform: translateY(1000%);
}

.hover-area--bottom-left:hover ~ .circle {
  -webkit-transform: translateX(-1000%) translateY(1000%);
          transform: translateX(-1000%) translateY(1000%);
}
